/build
.DS_Store
/nori
/warptest
/ext_build
CMakeCache.txt
CMakeSettings.json
CMakeFiles
Makefile
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
.vscode
/out
*.sublime-workspace
*.sublime-project
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
Debug
x64


# clion
.idea
cmake-build*

# nori generated images
*.exr
*.png

# whitelist everything in results subdir
!results/*

# large ajax.obj file
scenes/pa2/ajax.obj
scenes/pa4/blender/ajax